#div1
  width: 20px
  Height: 20px
  border-radius: 10px
  border: 1px solid #aaaaaa
  
#img1
  z-index: -1
  position: relative

.col-md-4
  text-align: center

.row
  text-align: center

.image 
  position: relative
  text-align: center
  color: white

.centered 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
