<div class="container">

    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>CircleTime</strong> | Sign In</h5>
                <h6 class="card-subtitle mb-2 text-muted">The online interactive Circle Time application</h6>
                <div class="form-group">
                    <label for="userNameInput">Email</label>
                    <input type="email" class="form-control" id="userNameInput" aria-describedby="emailHelp"
                        placeholder="Enter your Email">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Enter your Password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMeCheckbox">
                    <label class="form-check-label" for="rememberMeCheckbox">Keep me signed in</label>
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </div>

    <div class="col-md-2">
    </div>

</div>