h1, h2, h3, a, p, button
    font-family: Lato
    font-: #34435E

#SignInStyles
    background: #F0FCFC

#SettingsStyles
    background-color: #0C1726
    color: #FFFFFF

#ProfilePageButton
    background-color: #91E6E6
    color: #91E6E6
    border: none

#textbox
    color: #F0FCFC
    border-radius: 25px
    border: 2px solid #707070
    padding: 20px

.general-button
    background-color: #91E6E6
    color: #34435E
    outline-color: #91E6E6
    font-family: Lato

.general-button:hover
    background-color: #34435E
    color: #91E6E6
    outline-color: #34435E
    font-family: Lato

.navbar
    background-color: #F0FCFC
    color: #34435E
    font-family: Lato

#timer
    background-color: #91E6E6
    color: #34435E
    font-family: Lato

#popup_box
    background-color: #F0FCFC
    color: #34435E
    font-family: Lato

#topicgenbox
    border: solid
    border-color: #707070
    font-family: Lato
    color: #34435E 

#toolbar
   background-color : #F0FCFC
   color: #34435E
   font-family: Lato


