h1, h2, h3, a, p, button
    font-family: Lato
    font-: #34435E

#SignInStyles
    background: #F0FCFC

#SettingsStyles
    background-color: #0C1726
    color: #FFFFFF

#ProfilePageButton
    background-color: #91E6E6
    color: #91E6E6
    border: none

#textbox
    color: #F0FCFC
    border-radius: 25px
    border: 2px solid #707070
    padding: 20px

#button1
    background-color: #70B3B3
    font-family: Lato

#toolbar
    background-color: #F0FCFC
    color: #34435E
    font-family: Lato

#timer
    background-color: #91E6E6
    color: #34435E
    font-family: Lato

#popupbox
    background-color: #F0FCFC
    color: #34435E
    font-family: Lato

#topicgenbox
    border: solid
    border-color: #707070
    font-family: Lato
    color: #34435E
